<h2> <%= @player.name %> </h2>

<h3>Summary</h3>
<table>
  <tr><td>Wins</td><td>Losses</td><td>%</td><td>TR</td></tr>
  <tr><td><%=@player.no_of_wins%></td><td><%=@player.no_of_losses%></td><td><%=@player.win_percentage%></td><td><%=@player.no_of_table_runs%></td></tr>
</table>

<h3>Games</h3>
<table style='width: 400px'>
  <tr> <th>Week</th> <th>H/A</th> <th>Opponent</th> <th>Result</th></tr>
  <% @player.games.each do |game| %>
  <% opponent = game.opponent(@player) %>
  <% location = @player.team == game.match.home_team ? 'Home' : 'Away' %>
    <tr>
      <td> <%= game.match.week.number %> </td>
      <td> <%= link_to location, "/match/#{game.match.id}" %> </td>
      <td> <%= link_to opponent.name, "/player/#{opponent.id}" %> </td>
      <td> <%= game.won?(@player) ? 'W' : 'L' %> </td>
    </tr>
  <% end %>
</table>
